body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

#top-flex
{
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 84, 23, 0.6);
    color: white;
}

#site-name
{
    font-size: 15px;
    margin-right: 800px;
    font-weight: bolder;
}

#dropbtn
{
    font-size: 15px;
    margin-top: 3px;
}

#site-name:hover, #dropbtn:hover, #icon:hover
{
    cursor: pointer;
}

#frame
{
    border: none;
    position: relative;
    height: 91.8vh;
    width: 100%;
}

#icon
{
    height: 20px;
    margin-right: 0.5vw;
    margin-top: 3px;
}

#icon:hover
{
    transform: rotate(360deg);
    transition-duration: 1s;
}

#dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 11px;
    margin-left: -65px;
    width: 150px;
}

.dropdown-content div 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: whitesmoke;
}

#icon-drop
{
    font-size: 15px;
}

#icon-drop
{
    margin-right: 5px;
}

#profile, #map, #log-out, #recycle
{
    font-size: 15px;
}

#box-profile:hover, #box-map:hover, #box-log-out:hover, #box-recycle:hover
{
    cursor: pointer;
    background-color: white;
}