body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("back1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login-grid
{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 350px;
    width: 320px;
    margin-top: 100px;
    border-radius: 10px;
    grid-template-columns: 80px 150px;
    grid-template-rows: auto auto auto auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.9);
}

#email, #pass, #user, #country, #city
{
    font-size: 12px;
    color: black;
    margin-right: 10px;
}

#email, #type-email, #user, #type-user, #pass, #type-pass
{
    margin-bottom: 10px;
}

#city, #type-city
{
    margin-top: 10px;
}

#type-email, #type-pass, #type-user, #type-country, #type-city
{
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

#sitename
{
    grid-row: 1;
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
}

#acc
{
    font-size: 12px;
    margin-top: 10px;
    grid-row: 8;
    grid-column: 1/3;
    margin-left: 44px;
    margin-bottom: 10px;
}

#log
{
    font-size: 12px;
    margin-top: 10px;
    grid-row: 8;
    grid-column: 2/3;
    margin-left: 65px;
    margin-bottom: 10px;
}

#leaves
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: 30px;
}

#W
{
    color: rgb(44, 126, 168);
}

#log:hover
{
    cursor: pointer;
    color: rgb(44, 126, 168);
}

#user
{
    grid-row: 2;
}

#country
{
    grid-row: 5;
}

#city
{
    grid-row: 6;
}

#dropdown, #dropdown2
{
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    color: grey;
    font-weight: bolder;
    font-size: 10px;
    height: 25px;
    text-align: center;
    align-items: center;
}

#dropbtn, #dropbtn2
{
    height: 18px;
    padding-top: 6px;
}

#arrow1, #arrow2
{
    font-size: 10px;
}

#dropdown:hover, #dropdown2:hover
{
    cursor: pointer;
}

#next
{
    grid-row: 7;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    color: grey;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
    margin-top: 20px;
    width: 180px;
    font-weight: bolder;
}

#next:hover
{
    background-color: rgb(44, 126, 168);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

#dropdown, #dorpdown2
{
    position: sticky;
    display: inline-block;
}

#dropdown
{
    margin-top: 10px;
}

.dropdown-content, .dropdown-content2
{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    margin-top: 1.5px;
}

.dropdown-content div, .dropdown-content2 div
{
    color: black;
    text-decoration: none;
    display: block;
    font-weight: bolder;
    font-size: 10px;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: grey;
}

.dropdown-content div:hover, .dropdown-content2 div:hover
{
    background-color: rgba(44, 126, 168, 0.1);
    cursor: pointer;
}

input:focus::placeholder
{
    color: transparent;
}

#visible:hover
{
    cursor: pointer;
}

#visible
{
    margin: auto auto auto auto;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    margin-bottom: 6px;
    margin-left: 286px;
    color: grey;
}

#dropbtn, #dropbtn2
{
    background-color: whitesmoke;
}