.openbody
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}
#homie-name
{
    display: inline-block;
    margin-bottom: -70px;
    margin-left: -16px;
    width: 100%;
    margin-top: -11px;
}

#top-flex
{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 84, 23, 0.6);
    color: white;
}

#site-name
{
    font-size: 15px;
    margin-right: 800px;
    font-weight: bolder;
}

#dropbtn
{
    font-size: 15px;
    margin-top: 3px;
}

#site-name:hover, #dropbtn:hover, #icon:hover
{
    cursor: pointer;
}

#frame
{
    height: 92.3vh;
    width: 100vw;
    border: none;
}

#location {
    padding:20px;
    top: 90%;
    right: 95%;
    position:absolute;
    z-index: 1;
}

#icon
{
    height: 20px;
    margin-right: 0.5vw;
    margin-top: 3px;
}

#icon:hover
{
    transform: rotate(360deg);
    transition-duration: 1s;
}

#dropdown
{
    position: relative;
    display: inline-block;
    margin-top: 2px;
}

.txt
{
    text-decoration: none;
}

.dropdown-content
{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
    margin-left: -65px;
    width: 150px;
    background-color: rgba(27, 84, 23, 0.6);
}

.dropdown-content div 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: whitesmoke;
}

#icon-drop
{
    font-size: 15px;
}

#icon-drop
{
    margin-right: 5px;
}

#profile, #map, #log-out, #recycle
{
    font-size: 15px;
}

#box-profile:hover, #box-tokens:hover, #box-map:hover, #box-log-out:hover, #box-recycle:hover, #homie-name:hover, #box-login:hover, #box-signup:hover, .tokens:hover
{
    cursor: pointer;
    background-color: white;
}

#report-grid
{
    display: grid;
    position: absolute;
    align-self: center;
    height: 270px;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255);
    grid-template-columns: 130px 270px;
    grid-template-rows: auto auto auto auto auto auto;
    border-radius: 10px;
}

#rep
{
    text-align: center;
    grid-row: 2;
    grid-column: 1/3;
    color: black;  
    margin-bottom: 10px;
    font-size: 15px;
}

#text-rep
{
    grid-row: 3;
    grid-column: 1/3;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid grey;
    resize: none;
}

#rep-name
{
    grid-row: 1;
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
}

#submit-button
{
    grid-row: 5;
    border-radius: 5px;
    width: 120px;
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 15px;
    padding: 2px;
}

#img-rep
{
    margin-top: 15px;
    text-align: center;
    grid-row: 4;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    width: 120px;
    font-size: 15px;
}

#img-file
{
    margin-top: 15px;
    align-content: center;
    grid-row: 4;
    text-align: center;
    margin-left: 48px;
}

#img-file:hover, #text-rep:hover
{
    cursor: pointer;
}

#submit-button:hover
{
    background-color: rgb(44, 126, 168);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

#loc-pin
{
    color: red;
    transform: scale(4);
    position: absolute;
    bottom: -55px;
    left:200px;
}