.profilebody
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("leaves.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#grid-profile
{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    grid-template-columns: 300px 150px 150px;
    grid-template-rows: auto auto;
    align-items: center;
    margin-top: 100px;
    color: white;
}

#profile-img-profile
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    grid-row: 1/3;
}

#nr-points-profile
{
    font-weight: bold;
}

#points-profile, #username-profile
{
    margin-top: 45px;
}

#edit-profile
{
    border: 0.1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    grid-column: 2/4;
    margin-left: 45px;
    margin-bottom: 40px;
}

#edit-profile:hover
{
    background-color: rgba(27, 84, 23, 0.6);
    cursor: pointer;
    transition-duration: 0.3s;
}