body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

#top-title
{
    font-weight: bold;
    font-size: larger;
    text-size-adjust: 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#txt1, #pic2, #txt3
{
    align-self: center;
    text-align: center;
    grid-column: 1;
}

#txt2, #pic1, #pic3
{
    align-self: center;
    text-align: center;
    grid-column: 2;
}

#txt1, #pic1
{
    align-self: center;
    text-align: center;
    grid-row: 1;
}

#txt2, #pic2
{
    align-self: center;
    text-align: center;
    grid-row: 2;
}

#txt2, #pic2
{
    align-self: center;
    text-align: center;
    grid-row: 2;
}

#frame
{ 
    font-size: smaller;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 700px;
}